html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

body.news-color {
  background: #f0f0f0;
}

.topnav {
  background: white;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  padding: 6px 6px;
}

.heading {
  padding: 8px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.center {
  display: inline-block;
  width: auto;
  text-align: center!important;
}

.container {
  content:"";
  display: table;
  clear: both;
  padding: 0.01em 16px;
}

.padding-64 {
  padding-top: 64px!important;
  padding-bottom: 64px!important;
}

@media screen and (max-width: 600px) {
  div.quarter {
    width: 100%;
    padding: 20px;
  }
}

.row:after, .row:before {
  content:"";
  display: table;
  clear: both;
}

.quarter {
  float: left;
  width: 25%;
  padding: 0 8px;
}

.circle {
  border-radius: 50%;
}

.hover-opacity:hover {
  opacity: 0.50;
}

.wide {
  font-size: 30px;
  letter-spacing: 4px;
}

.addition {
  color: gray;
}

.content {
  max-width: 980px;
  margin: auto;
}

.interview {
  text-align: justify!important;
  font-style: italic;
  text-indent: 25px;
}

.signature {
  text-align: right;
  padding-right: 3%;
  font-style: italic;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: black;
}

.footer-color {
  color: white!important;
  background: linear-gradient(rgba(255, 255, 255, 0), black);
}

.shadow {
  border: none;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  height: 100%;
  background: rgba(0, 0, 0, 0.404);
}

.button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  color: inherit;
  background-color: inherit;
  text-align: center;
  white-space: nowrap;
}

.black {
  color: white!important;
  background-color: #000!important;
}

.post {
  margin: auto;
  width: 50%;
  padding: 20px 20px;
  background: white;
  border-radius: 3px;
  border: 0.5px solid rgb(235, 235, 235);
}

@media screen and (max-width: 600px) {
  div.post {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0;
    border: none;
  }
}

.among-post {
  padding-top: 15px;
}
